/* fuentes-roboto-y-raleway */
/* font-family: 'Raleway', sans-serif;......font-family: 'Roboto', sans-serif; */
.body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
/* header-section- */
/* webstudio */
.web-studio {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
}

.web-studio:hover {
  color: #2196f3;
}
/* header-nav-elemnts */
.header-element {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.header-element:hover {
  color: #2196f3;
}
/* header-contacts */
.header-contact {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}

.header-contact:hover {
  color: #2196f3;
}
/* seccion#1 "soluciones eficacez para su negocio */
.soluciones-eficacez {
  background-color: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* seccion-2 */
.section-2-titles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #212121;
}

.section-2-paragraphs {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1;
  color: #757575;
}
/* section-3 */
.a-que-nos-dedicamos-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* section-4 */
.nuestro-equipo-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-members {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}

.jobs-members {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}
/* portafolio-pagina2*/
.portafolio-titles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.portafolio-proyects {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 2;
  color: #757575;
}

/* buttons-section-filtros */
.buttons:hover {
  color: #ffff;
  background-color: #2196f3;
  cursor: pointer;
}
/* footer-section */
.footer {
  background-color: #2f303a;
}
/* footer-elements */
.footer-elements {
  color: #ffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}

.footer-elements:hover {
  color: #2196f3;
}
/* footer-contacts */
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.footer-contact:hover {
  color: #2196f3;
}
